- id: 'auth'
  uses: 'google-github-actions/auth@v2'
  with:
    workload_identity_provider: 'projects/55611526582/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
    service_account: 'github-sheets-sync@egoteback.iam.gserviceaccount.com'

- name: 'Set up Dart'
  uses: dart-lang/setup-dart@v1

- name: 'Run Sync'
  run: dart run bin/main.dart
  env:
    # L'action 'auth' génère automatiquement un fichier de credentials temporaire
    GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
